@import '/src/styles.scss';

.tanker-release-load-screen {
    padding: 4% 0;
    @include respond(mobile) {
      padding: 7% 0;
    }
    .heading {
        h2 {
            font-size: 21px;
            color: $black;
            @include respond(mobile) {
              font-size: 20px;
            }
        }
    }
    .tanker-releaseload-inputs {
        padding-top: 4%;
        @include respond(mobile) {
            padding-top: 10%;
        }
        .load-card {
            .heading {
                h2 {
                    font-size: 21px;
                    color: $black;
                    @include respond(mobile) {
                    font-size: 19px;
                    }
                }
            }
            .admin-card {
                h4 {
                    font-size: 18px;
                    color: $black;
                }
                h1 {
                    font-size: 26px;
                    font-weight: 600;
                    padding-top: 30px;
                    text-align: end;
                    color: $black;
                    @include respond(mobile) {
                        font-size: 25px;
                    }
                    span {
                        color: $darkGray;
                        font-size: 15px;
                        font-weight: 500;
                        position: relative;
                        bottom: 10px;
                        padding-left: 5px;
                    }
                }
            }
        }
        .release-form {
            padding-top: 35px;
            @include respond(mobile) {
                padding-top: 29px;
            }
            .heading {
                h2 {
                    font-size: 21px;
                    color: $black;
                    @include respond(mobile) {
                    font-size: 19px;
                    }
                }
            }
        }
        .add-btn {
            a {
                letter-spacing: .1px;
            }
        }
    }
}