@import '/src/styles.scss';

.signin-screen {
  // padding: 5% 0;
  .heading {
    h2 {
      font-size: 22px;
      color: $black;
    }
    p {
      font-size: 16px;
      padding-top: 4px;
      color: $darkGray;
    }
  }
  .login-inputs {
    .forgot-checkout {
      .forgot-btn {
        a {
          font-weight: 600;
          font-size: 16px;
          float: right;
          // color: $darkGray;
        }
      }
    }
    .login-btn {
      a {
        letter-spacing: .1px;
      }
    }
    .new-account {
      padding-top: 9%;
      text-align: center;
      span {
        color: $black;
        font-size: 15px;
      }
      a {
        font-weight: 600;
        font-size: 16px;
        padding-left: 2px;
      }
    }
  }
}

.form-group {
  label {
    &.form-check-label {
      // color: $darkGray;
      font-weight: 600;
    }
  }
}
