@import '/src/styles.scss';

.signin-screen {
  padding: 4% 0;
  @include respond(mobile) {
    padding: 7% 0;
  }
  .heading {
    h2 {
      font-size: 21px;
      color: $black;
      @include respond(mobile) {
        font-size: 19px;
      }
    }
    p {
      font-size: 16px;
      padding-top: 4px;
      color: $darkGray;
      @include respond(mobile) {
        font-size: 16px;
      }
    }
  }
  .login-inputs {
    padding-top: 8%;
    @include respond(mobile) {
      padding-top: 10%;
    }
    .forgot-checkout {
      .forgot-btn {
        a {
          font-weight: 600;
          font-size: 16px;
          float: right;
        }
      }
    }
    .login-btn {
      a {
        letter-spacing: .1px;
      }
    }
    .new-account {
      padding-top: 4%;
      @include respond(mobile) {
        padding-top: 8%;
      }
      span {
        color: $black;
        font-size: 15px;
      }
      a {
        font-weight: 600;
        font-size: 16px;
        padding-left: 2px;
      }
    }
  }
}

.form-group {
  label {
    &.form-check-label {
      font-weight: 600;
    }
  }
}
