@import '/src/styles.scss';

.forgot-screen {
  padding: 4% 0;
  @include respond(mobile) {
    padding: 7% 0;
  }
  .heading {
    h2 {
      font-size: 21px;
      color: $black;
      @include respond(mobile) {
        font-size: 19px;
      }
    }
    p {
      font-size: 16px;
      padding-top: 4px;
      color: $darkGray;
      @include respond(mobile) {
        font-size: 16px;
      }
    }
  }
  .forgot-input {
    padding-top: 8%;
    @include respond(mobile) {
      padding-top: 10%;
    }
    .forgot-btn {
      a {
        letter-spacing: .1px;
      }
    }
  }
  
  .reset-inputs {
    padding-top: 8%;
    @include respond(mobile) {
      padding-top: 10%;
    }
    .reset-btn {
      a {
        letter-spacing: .1px;
      }
    }
  }
}