<div class="users-listing-screen">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <div class="heading">
                <h2></h2>
                <h2>
                  Users
                  <a class="c-btn pink" routerLink="/users/users-add-edit">Add User</a>
                </h2>
            </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="search-bar">
              <app-search-bar></app-search-bar>
          </div>
        </div>

        <div class="col-12">
          <div class="users-listing">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Name</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Email</th>
                  <th scope="col">Type</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of table">
                  <td>{{item.id}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.phone}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.type}}</td>
                  <td>
                    <i class="fa-solid fa-pen-clip text-pinkgradient" routerLink="/users/users-add-edit"></i>
                    <i class="fa-solid fa-trash-can text-pinkgradient"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>