@import '/src/styles.scss';

.users-listing-screen {
  // padding: 5% 0;
    .heading {
        h2 {
            font-size: 22px;
            color: $black;
            a {
                float: right;
            }
        }
    }
}

table {
    thead {
        background: $default;
        th {
            color: $white;
        }
    }
    tbody {
        td {
            i {
                font-size: 18px;
                margin-right: 12px;
                cursor: pointer;
                
                // border: 1px solid $default;
                // background: $default;
                // border-radius: 100px;
                // padding: 8px;
                // font-size: 16px;
                // color: $white;
                // margin-right: 14px;
                // cursor: pointer;
            }
        }
    }
}