<div class="dashboard-screen">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading">
                    <h2>Dashboard</h2>
                </div>
            </div>
        </div>
        <div class="dashboard-cards">
            <div class="row">
                <div class="col-12">
                    <div class="date-picker">
                        <form>
                            <div class="form-row" [formGroup]="date">
                                <div class="form-group col-md-6">
                                    <label>Date To</label>
                                    <input type="date" class="form-control" formControlName="dateTo">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Date From</label>
                                    <input type="date" class="form-control" formControlName="dateFrom">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row pb-5">
                <div class="col-12 col-md-4" *ngFor="let item of data">
                    <div class="admin-card">
                        <h1>{{item.title}}</h1>
                        <p *ngFor="let field of item.fields">
                            <span>{{field.name}}</span> <span>{{field.quantity}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>