<div class="load-card-screen">
    <div class="admin-card">
        <div class="heading">
            <h2>{{loadType}}</h2>
        </div>
        <form class="form-row mt-3" [formGroup]="programForm">
            <div class="form-group col-12">
                <label>Litre</label>
                <input type="number" class="form-control" placeholder="Litre" formControlName="litre" (keyup)="onDataChange()">
            </div>
            <div class="form-group col-12">
                <label>Rate/Litre</label>
                <input type="number" class="form-control" placeholder="Rate/Litre" formControlName="rateLitre" (keyup)="onDataChange()">
            </div>
            <div class="col-12 total-amount">
                <p>Total</p>
                <h1>{{totalAmount| currency: 'PKR'}}</h1>
            </div>
        </form>
    </div>
</div>