@import '/src/styles.scss';

.signup-screen {
	// padding: 5% 0;
    .heading {
        h2 {
          font-size: 22px;
          color: $black;
        }
        p {
          font-size: 16px;
          padding-top: 4px;
          color: $darkGray;
        }
      }
  .signup-btn {
    a {
      letter-spacing: .1px;
    }
  }
  .login-account {
    padding-top: 9%;
    span {
      color: $black;
      font-size: 15px;
    }
    a {
      font-weight: 600;
      font-size: 16px;
      padding-left: 2px;
    }
  }
}
