<div class="footer">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-5 col-lg-5">
                <div class="first">
                    <h3>Tankers</h3>
                    <p>Established too long ago that a reader will be distracted by a site's text content while looking at its design. The point of using that has a less normal distribution of the letters contrary to using texts such as.</p>

                    <div class="add-btn mt-4">
                        <a class="c-btn pink" routerLink="/dashboard">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-4">
                <div class="first">
                    <h3>COMPANY</h3>   
                    <ul>
                        <li><a routerLink="tankers/tankers-add-edit">Tankers</a></li>
                        <li><a routerLink="/companies/companies-add-edit">Companies</a></li>
                        <li><a routerLink="users/users-add-edit">Users</a></li>
                        <li><a routerLink="tanker-trading/tanker-add-load">Tanker Trading</a></li>
                        <li><a routerLink="reports/sales-company-report">Report</a></li>
                        <li><a routerLink="/status">Status</a></li>
                    </ul>
                </div>
            </div> 

            <div class="col-12 col-md-3 col-lg-3">
                <div class="first">
                    <h3>STAY CONNECTED</h3>
                    <div class="social">
                        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.messenger.com/"><i class="fa-brands fa-facebook-messenger"></i></a>
                        <a href="https://wa.me/+923350990099"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="footer-bottom">
    <p>Copyright © 2022, Thrashtech Solutions.</p>
</div>