@import '/src/styles.scss';

.tanker-release-load-listing-screen {
    padding: 4% 0;
    @include respond(mobile) {
      padding: 7% 0;
    }
    .heading {
        h2 {
            font-size: 21px;
            color: $black;
            @include respond(mobile) {
              font-size: 20px;
            }
            a {
                float: right;
            }
        }
    }
    .tanker-releaseload-listing {
        padding-top: 4%;
        @include respond(mobile) {
        padding-top: 10%;
        }
        table {
            thead {
                background: $default;
                th {
                    color: $white;
                }
            }
            tbody {
                td {
                    i {
                        font-size: 18px;
                        margin-right: 12px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}